/* Custom CSS for Project 2 */
body{
    font-family: 'Arial', sans-serif;
    background-color: #99a8b5;
    color: #333;
}
.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 15px 30px;
}
#guess-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin: 0 auto;
}

#guess-result {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

#guess{
    background-color: #bde1ea;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 11%;
}

#reset{
    background-color: #768386;
    color: white;
    border: none;
    cursor: pointer;
    padding: 8px 11px;
    border-radius: 11%;
}

#guess:hover {
    background-color: #a0d4db;
    color: white;
}

#reset:hover {
    background-color: #5c6b73;
    color: black;
}